@import 'reset';
$header-color: #d5c5aa;
$logo-margin: 82px;

@mixin links {
	color: #fff;
	text-decoration: none;
}

@mixin hover__links {
  color: $header-color;
}

@mixin column-flex {
  flex-direction: column;
}

// Header

.header {
	height: 765px;
	background-image: url('../images/header-bg.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	@include column-flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;

	.logo {
		display: flex;
		justify-content: flex-end;
		min-width: 1016px;
		color: #fff;
		margin-top: 35px;
		text-transform: uppercase;

		&__img {
			width: 115px;
			height: 76px;
			margin-right: $logo-margin;
		}

		&__number {
			@include links;
      margin: 47px $logo-margin 0 0;

      &:hover {
        @include hover__links;
      }
		}

		&__call {
			margin: 47px 42.5px 0 0;
			border-bottom: 2px dashed #fff;
      height: 20px;

      &:hover {
        @include hover__links;
      }
		}
	}

	.nav {
		text-transform: uppercase;
		margin-bottom: 25px;

		&__list {
			display: flex;
			list-style: none;
		}

		&__item {
			margin: 0 22.5px;
			padding: 7px 20px;
			white-space: nowrap;

			&_active {
				background: $header-color;
				border-radius: 10px;
			}
		}

		&__link {
			@include links;
			transition: color 0.3s;

			&:hover {
				@include hover__links;
			}
		}
	}
}

// Section info

.info {
  display: flex;
  justify-content: center;

  &__block {
    display: flex;
    width: 940px;
    justify-content: space-between;
    margin: 156px auto;
  }

  &__heading {
    max-width: 314px;
    font-weight: 300;
    font-size: 48px;
    line-height: 1.25;
    text-transform: uppercase;

    &_highlight {
      color: #00aaef;
    }
  }

  &__articles {
    max-width: 564px;
    line-height: 1.5;

    & > p {
      margin-bottom: 26px;
    }

    & > p:last-child {
      font-weight: 500;
    }
  }
}

// Footer

.footer {
  height: 540px;
	background-image: url('../images/footer-bg.jpg');
	background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__block {
    margin-bottom: 95px;
  }

  &__logo {
    width: 115px;
    height: 76px;
  }
}

@media screen and (max-width: 999px) {
	.nav__list {
		@include column-flex;
		align-items: center;
	}
	.header .logo {
    @include column-flex;
    justify-content: center;
    align-items: center;

    &__img,
    &__number,
    &__call {
      margin-right: 0;
    }
  }

  .info__block {
    @include column-flex;
    margin: 40px;
  }
}
